<GridLayout columns="50, *, *, 50" rows="50, *, *, 50">
    <Label text="Label 1" row="0" col="0" colSpan="3" backgroundColor="red"></Label>
    <Label text="Label 3" row="1" col="0" backgroundColor="blue"></Label>
    <Label text="Label 4" row="2" col="0" backgroundColor="yellow"></Label>
    <Label text="Label 5" row="3" col="0" backgroundColor="pink"></Label>
    <Label text="Label 6" row="0" col="3" rowSpan="4" backgroundColor="skyblue"></Label>
    <GridLayout  row="1" col="1" colSpan="2" rowSpan="2" backgroundColor="violet" >
        <Label text="Label 7" verticalAlignment="center" textAlignment="center"></Label>
    </GridLayout>
    <Label text="Label 8" row="3" col="1" backgroundColor="green"></Label>
    <Label text="Label 9" row="3" col="2" backgroundColor="orange"></Label>
</GridLayout>